<style>
		.x-column-header-inner .x-column-header-text {
		white-space: normal;
		z-index:0;
	}

	.x-column-header-inner {
		line-height: normal;
	}	
	.x-grid-row .x-grid-cell-inner {
		white-space: normal;		
	}
    .x-grid-row-over .x-grid-cell-inner {
        font-weight: bold;
		white-space: normal;		
    }	
	
</style>
<script >
$(function() {
	$("#addDataElement").button();
});
Ext.require([
    'Ext.form.field.ComboBox',    
    'Ext.form.FieldSet', 	
    'Ext.data.*'
]);
Ext.Loader.setConfig({
		enabled: true
	});
	
// Define the model for a State
Ext.define('State', {
    extend: 'Ext.data.Model',
    fields: [        
        {type: 'string', name: 'name'}
    ]
});

// The data for all states
var states = $dataElementList;


function createStore() {
    // The data store holding the states; shared by each of the ComboBox examples below
    return Ext.create('Ext.data.Store', {
        autoDestroy: true,
        model: 'State',
        data: states
    });
}
Ext.onReady(function() {
    Ext.tip.QuickTipManager.init();
    // Simple ComboBox using the data store
    var simpleCombo = Ext.create('Ext.form.field.ComboBox', {
		fieldLabel: 'Select DataElement',
        renderTo: 'simpleCombo',
        displayField: 'name',
        width: 380,
        labelWidth: 120,
        store: createStore(),
        queryMode: 'local',
        typeAhead: true,
		listeners: {select: changeOwner}
    });	
	
});
var changeOwner = function(combo, record, index) {						
						var dataElementName = combo.getValue();
						$('#dataElementName').val(dataElementName);
        				$('#loadTariffDetails').load("loadTariffDetails.action", 
            				{
            					dataElementName:dataElementName,
								orgUnitUid:$("#orgUnitUid").val()
            				}
            				, function( ){            										
        				});
	};
function getTariffData()
{
  $('#loadTariffDetails').load("loadTariffDetails.action", 
            				{
            					dataElementName : $('#dataElementName').val(),
								orgUnitUid : $("#orgUnitUid").val()
            				}
            				, function( ){  
							loadExtTariff();
        				});  	
}
function organisationUnitSelected( orgUnits, orgUnitNames )
{
	var countryTags = $levelOrgUnitIds;
	var bValue = false;
	for(var i=0;i<=countryTags.length-1;i++)
	{
    	if(countryTags[i] == orgUnits[0] )
    	{
    		bValue = true;
    	}
	}
	if(bValue == false)
	{
		alert('Please Select Correct level OrgUnit');
	}
	else
	{
		setFieldValue("orgUnit", orgUnitNames[0]);
		setFieldValue("orgUnitUid", orgUnits[0]);
		if($('#dataElementName').val() != '')
		{
			getTariffData();	
		}		
	}
	
}

selection.setListenerFunction( organisationUnitSelected );

function loadExtTariff()
{
			
}

</script>
<style >
	#tariffSetting {
   width: 280px;
   height: 50px;
   margin: 10px 10px 10px 10px;
   float:right;
   padding: 10px 10px 10px 10px ;
   font: 1.6em bold;
   background: #ccc;
   box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);   
   -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
   -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
   }
</style>
<div width="100%">
	<div id="tariffSetting">
		Tariff Setting Authority : $!tariff_setting_authority
    </div>
</div>
<h3>Data Element Tariff Management</h3>
<br/>
<input type="hidden" name="orgUnitUid" id="orgUnitUid">
<input type="hidden" name="dataElementName" id="dataElementName" value="">
<table width="50%">
	<tr>
		<td >Orgainsation Unit: &nbsp; <input type="text" id="orgUnit" name="orgUnit" readonly size="40"/></td>
		<td >&nbsp;</td>
	</tr>
	<tr >
		<td >&nbsp;</td>
		<td >&nbsp;</td>
    </tr>
	<tr>
		<td ><div id="simpleCombo"></div></td>
		<td ><input type="button" id="addDataElement" value="Add DataElement" disabled/></td>
	</tr>
</table>
<br/><br/><br/>
<div id="loadTariffDetails" style="width:90%"></div>
	