<script type="text/javascript">
jQuery( document ).ready( function() {
  jQuery( "#showMainMenuLink" ).attr( "href", "modules.action" );

} );

</script>

<div class="col-md-10" id="leftbarcontents" style="padding-right: 0px;padding-left: 0px">
    <div id="left-Menu">
        <div class="panel-group" id="accordion">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="parent_menu">
                            Data Analysis
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <div class="accordion" id="accordion1"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="parent_menu">
                            Documents
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked list-group document_panel">

                        </ul>

                        </br>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="parent_menu">
                            Links
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked list-group" style=" margin-left: 0;padding-left: 0em;text-indent: -0.1em;">
                            #if($otherLinks)
                                #foreach( $links in $otherLinks)
                                    <li class="list-group-item">
                                        <a target="_blank" href="$links.get(2)" class="text-success">
                                            <i class="fa fa-globe"></i>&nbsp;&nbsp;$links.get(1)</a>
                                    </li>

                                #end
                            #end

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#leftbarcontents").removeClass("col-md-2").addClass("col-md-12");
    })
</script>


