#sharingDialog()

<script type="text/javascript">
    var i18n_share_your_interpretation_of = '$encoder.jsEscape( $i18n.getString( "share_your_interpretation_of" ), "'")';
    var i18n_interpretation_was_shared = '$encoder.jsEscape( $i18n.getString( "interpretation_was_shared" ), "'")';
    var i18n_viewing = '$encoder.jsEscape( $i18n.getString( "viewing" ), "'")';
    var i18n_click_add_new_to_get_started = '$encoder.jsEscape( $i18n.getString( "click_add_new_to_get_started" ), "'")';
    var i18n_add_stuff_by_searching = '$encoder.jsEscape( $i18n.getString( "add_stuff_by_searching" ), "'")';
    var i18n_arrange_dashboard_by_dragging_and_dropping = '$encoder.jsEscape( $i18n.getString( "arrange_dashboard_by_dragging_and_dropping" ), "'")';
    var i18n_remove = '$encoder.jsEscape( $i18n.getString( "remove" ), "'")';
    var i18n_view_full_size = '$encoder.jsEscape( $i18n.getString( "view_full_size" ), "'")';
    var i18n_click_to_explore_drag_to_new_position = '$encoder.jsEscape( $i18n.getString( "click_to_explore_drag_to_new_position" ), "'")';
    var i18n_drag_to_new_position = '$encoder.jsEscape( $i18n.getString( "drag_to_new_position" ), "'")';
    var i18n_manage = '$encoder.jsEscape( $i18n.getString( "manage" ), "'")';
    var i18n_share = '$encoder.jsEscape( $i18n.getString( "share" ), "'")';
    var i18n_share_interpretation = '$encoder.jsEscape( $i18n.getString( "share_interpretation" ), "'")';
    var i18n_see_more_hits = '$encoder.jsEscape( $i18n.getString( "see_more_hits" ), "'")';
    var i18n_see_fewer_hits = '$encoder.jsEscape( $i18n.getString( "see_fewer_hits" ), "'")';
    var i18n_add = '$encoder.jsEscape( $i18n.getString( "add" ), "'")';

</script>

<div id="dialog"></div>
<!-- Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- end Modal -->
<div class="row">
    #parse( "ardsMacros.vm" )
    #cmsLeftMenu()
<div class="col-md-10" id="mainPages">

<div class="analysis-wraper">
    <div class="alert alert-danger fade in" role="alert" style="padding: 4px">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
        <strong>Empty Value!</strong> Please select at least one Administrative unit, period and data.
    </div>

    <div class="row">
        <div class="col-sm-3">
            Administrative units <br>
            <div class="btn-group btn-group-xs unitfilter">
                <button type="button" class="btn btn-default" id="allunits">all</button>
                <button type="button" class="btn btn-default" id="regions">Regions</button>
                <button type="button" class="btn btn-default" id="district">disticts</button>
            </div>
            <br>
            <select name="adminUnit" multiple="multiple" class="adminUnit">

            </select>
        </div>
        <div class="col-sm-3">
            Periods <br>
            <div class="btn-group btn-group-xs periodfilter" >
                <button type="button" class="btn btn-default" id="years">Yearly</button>
                <button type="button" class="btn btn-default" id="quarters">quarterly</button>
                <button type="button" class="btn btn-default" id="mounths">monthly</button>
            </div>
            <br>
            <select name="periods" multiple="multiple" class="periods">

            </select>
        </div>
        <div class="col-sm-3">
            Data
            <div style="height: 22px"></div>
            <select name="data" multiple="multiple" class="data-element">

            </select>
        </div>
        <div class="col-sm-3">
            Category
            <div style="height: 22px"></div>
            <select name="category" class="category">
                <option value="ou">administrative units</option>
                <option value="pe">period</option>
            </select>
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-sm-12">
            <div class="btn-group btn-group-xs reports">
                <button class="btn btn-default" id="draw_table"><img src='../dhis-web-commons/analysis/table.png' style='height:20px;width:20px'> Table</button>
                <button class="btn btn-default" id="draw_bar"><img src='../dhis-web-commons/analysis/bar.png' style='height:20px;width:20px'> Bar Chart</button>
                <button class="btn btn-default" id="draw_column"><img src='../dhis-web-commons/analysis/column.png' style='height:20px;width:20px'> Column Chart</button>
                <button class="btn btn-default" id="draw_line"><img src='../dhis-web-commons/analysis/line.png' style='height:20px;width:20px'> Line Chart</button>
                <button class="btn btn-default" id="draw_pie"><img src='../dhis-web-commons/analysis/pie.png' style='height:20px;width:20px'> Pie Chart</button>
                <button class="btn btn-default" id="draw_staked"><img src='../dhis-web-commons/analysis/stacked.png' style='height:20px;width:20px'> Stacked Chart</button>
                <button class="btn btn-default" id="draw_spider"><img src='../dhis-web-commons/analysis/spider.jpg' style='height:20px;width:20px'> Spider Chart</button>
                <button class="btn btn-default" id="draw_combined"><img src='../dhis-web-commons/analysis/combined.jpg' style='height:20px;width:20px'> Combined Chart</button>
                <button class="btn btn-default" id="export_cvs"  style="margin-left: 5px"><img src='../dhis-web-commons/analysis/cvs.jpg' style='height:20px;width:20px'> Export to Excel</button>
            </div>
        </div>
    </div>
    <div class="row" id="mainarea" style="margin-top: 15px">

    </div>
</div>
<div class="row" id="content_to_hide">

<div class="">
<div class="col-md-10">
<span id="showLeftBars" class="pull-left hidden-sm hidden-xs">
         <p>
           <div id="min"><a href="#" onclick="javascript:minSide()" title="hide menu"><img src="../images/hide_menu.png" width="16" height="16" /></a></div>
           <div id="max" style="display:none"><a href="#" onclick="javascript:maxSide()" title="show menu"><img src="../images/extend_menu.png" width="16" height="16" /></a></div>
    </p>
        </span>
<div id="contents">
<div class="row">
    <div class="col-md-12 menu_conteiner">
        <div class="btn-group  pull-left" id="cms_menu_bar" style="margin-left:-15px;">
            <a href="#" class="btn btn-default btn-sm  disabled" role="button"  style="display:block!important;"><b><i class="fa fa-spanner"></i> &nbsp; Home Page Managers  :</b></a>
            <a class="btn btn-default btn-sm manage_articles" id="manage_articles" title="Manage Home Articles" ><i class="fa fa-file-text-o"></i> &nbsp;Home Page Articles</a>
            <a class="btn btn-default btn-sm manage_articles_menus" id="manage_articles_menus" title="Manage Home Page Article Menus" ><i class="fa fa-list"></i>  &nbsp; Home Page Menus</a>
            <a class="btn btn-default btn-sm manage_images" id="manage_images" title="Manage Slide Show Images" ><i class="fa fa-picture-o"> &nbsp; Slide Show </i></a>
            <a class="btn btn-default btn-sm manage_pages" id="manage_pages" title="Manage Information Sharing" ><i class="fa fa-th-large"></i> &nbsp; Information Sharing</a>
        </div>

        <div class="btn-group  pull-right" id="page_switcher">
            <div class="onoffswitch"><input type="checkbox" class="toggleBtn onoffswitch-checkbox"  id="onoffswitch6"><label for="onoffswitch6" class="onoffswitch-label"><div class="onoffswitch-inner" style=""></div><div class="onoffswitch-switch" style=""></div></label></div>
        </div>
    </div>
</div>
<div class="row" id="other_pages">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group  pull-left">
                    <a class="btn btn-default btn-sm add_new_page" id="add_new_page" title="Add Page"><i class="fa fa-plus"></i>&nbsp;Add Page</a>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="row">
            <div class="col-md-12">
                <form method="post" id="add_new_article_form" >
                    <div class="form-group">
                        <label id ="page_label" for="page_name">Page Name <span style="color:red;font-weight:bold;">*</span> ( max 16 words)</label>
                        <input type="text" class="form-control" id="page_name" name="page_name" placeholder="Page Name ">
                    </div>

                    <div class="form-group">
                        <label for="newpage">Page Content</label>
                        <textarea id="newpage" name="newpage" placeholder="Page description.... "></textarea>
                        <input type="hidden" id="imposter_newpage" name="imposter_newpage" />
                    </div>

                    <button type="submit" class="btn btn-default btn-sm" id="add_new_article_button"><i class="fa fa-plus-square"></i>&nbsp;Add Article</button>
                    <button type="button" class="btn btn-danger btn-sm" id="cancel_add_new_article_button"><i class="fa fa-times"></i>&nbsp;Cancel</button><p id="output_article_pane"></p>
                </form>
                <div class="row display_article_for_cms" style="font-family: LiberationSansRegular, arial, sans-serif">
                    <div id="article_main_title">
                        <div class="col-md-10  pull-left" >
                            <h3>ARDS-LGMD2 INFORMATION SHARING</h3>
                        </div>

                    </div>
                    <div class=""  id="article_conteiner_pages">
                        <div class="col-md-12" id="editorArticleFormContainer" >
                            <h4>&nbsp;&nbsp; Editing Selected Article</h4>
                            <form method="post" id="edit_article_form">
                                <div class="form-group">
                                    <label id ="page_label" for="page_name">Page Name<span style="color:red;font-weight:bold;">*</span> ( max 16 words)</label>
                                    <input type="text" class="form-control" id="edit_page_name" name="page_name" placeholder="Page Name ">
                                </div>
                                <div class="form-group">
                                    <label for="newpage">Page Content</label>
                                    <textarea id="article_edit" name="article_edit"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" id="imposter_article_edit" name="imposter_edit" />
                                    <input type="hidden" id="imposter_article_id" name="imposter_id" />
                                </div>
                                <button type="submit" class="btn btn-default btn-sm">
                                    <i class="fa fa-plus-square">
                                    </i>&nbsp;edit item</button>
                                <button  type="button" id="cancel_article_editor" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>&nbsp;cancel</button>&nbsp;<span id="output_edit"></span>
                            </form>
                        </div>

                        #if($article)
                            #foreach( $pages in $article )
                                <div class="col-md-12 available_articles_pages conteiner" id="article_$pages.get(0)_pages">
                                    <div class="row title_$pages.get(0)_pages" style="display: none;">
                                        #if($pages.get(1))
                                        $pages.get(1)
                                        #else
                                        #end
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 body_$pages.get(0)_pages">
                                            #if($pages.get(2))
                                            $pages.get(2)
                                            #else
                                            #end
                                        </div>
                                    </div>

                                </div>
                                <div class="row back_to_list " id="button_group_$pages.get(0)">
                                    <div class="col-md-12">
                                        <a class="btn btn-default btn-sm back_to_list_button" id="backArticle_$pages.get(0)">
                                            <i class="fa fa-arrow-left"></i>&nbsp;back to list
                                        </a>
                                        <a class="btn btn-default btn-sm edit_article_button" id="editArticle_$pages.get(0)">
                                            <i class="fa fa-edit"></i>&nbsp;Edit
                                        </a>
                                        <a class="btn btn-danger btn-sm delete_article_button" id="deleteArticle_$pages.get(0)">
                                            <i class="fa fa-trash-o"></i>
                                            &nbsp;delete
                                        </a>
                                    </div>
                                </div>
                            #end
                        #end
                    </div>
                    <div class="row">
                        <div class="col-md-12 bs-docs-sidebar" id="bs-docs-pages">
                            <ul id="article_list_pages" class="nav nav-list bs-docs-sidenav affix-top" style="width:100%!important">
                                #if($article)
                                    #foreach( $heads in $article )
                                        <li title="click to view">
                                            <a redirect_to="article_$heads.get(0)_pages" href="#" >
                                                <i class="icon-chevron-right"></i>
                                                #if($heads.get(1))
                                                    $heads.get(1)
                                                #else
                                                #end
                                            </a>
                                        </li>
                                    #end
                                #end
                            </ul>
                        </div>
                    </div>
                    </br>
                    <div class="row" id="pagination-docs">
                        <div class="col-md-10 ">
                            <div id="cmsArticlePaginataionDiv"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="article_menus">
    <div class="col-md-12">
        <table id="tab_menu_table" class="table table-hover table-condenced  table-stripped">
            <caption><h4>Available Tab Menus</h4></caption>
            <thead><th>Tab Menu Name</th><th>Action</th> </thead>
            <tbody>
                #if($menus)
                    #foreach( $menu in $menus )
                    <tr id="rowspecific_$menu.get(0)">
                        <td>
                            <span>$menu.get(1)</span>
                            <input type="text" class="form-control text_inputs" name="menu" />
                        </td>
                        <td>
                          <span class='btn-group'>
                             <a class="btn btn-xs edit"  id="edit_$menu.get(0)" style="color:orange;">
                                 <i title='edit' class='fa fa-edit '></i>
                             </a>
                             <a class="btn btn-xs save" title='save' id="save_$menu.get(0)" style="color:green;">
                                 <i  class='fa fa-save ' ></i>
                             </a>
                             <a class="btn btn-xs delete" title='delete' id="delete_$menu.get(0)" style="color:red;">
                                 <i class='fa fa-times'></i>
                             </a>
                           </span>
                        </td>
                    </tr>
                    #end
                #end
            </tbody>
        </table>
        </br>
        <div class="row">
            <form class="form-horizontal" role="form" id="menu_name_form">
                <div class="form-group">
                    <label for="menu_name_field" class="col-sm-2 control-label">Add New Menu Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="menu_name_field" name="menu" placeholder="Type Menu Name">
                    </div>
                    <div  class="col-sm-2 ">
                        <button class="btn btn-success btn-mini" type="submit"  id="new_tab_menu_button">add menu</button>
                    </div>
                </div>
            </form>
            <div id="report"></div>
        </div>
    </div>
</div>

<div class="row" id="Slide_manager_pane">
    <div class="row" >
        <div class="col-md-12 ">
            <h3>Managing Slide Show Images </h3>
        </div>
        <div class=" col-md-12" id="upload_image_div">
            <a class='btn btn-default btn-sm' id='upload_image_file' data-toggle='modal' data-target='' title='upload image'><i class='fa fa-upload'></i> &nbsp;Upload Image</a>
        </div>
    </div>
    <div class="col-md-12 Image-manager well"></div>
</div>

<div class="row" id="add_div">
    <div class="col-md-12">
        <ul id="tabs">
            <li><a href="#" id="all" title="all available"><em>All</em></a></li>
            #if($menus)
                #set( $counterTab=0 )
                #foreach( $menu in $menus )
                    #set($counterTab = $counterTab+1)
                    <li><a href="#" id="$menu.get(1)" title="only for $menu.get(1) "><em>$menu.get(1)</em></a></li>

                #end
            #end
            <li><a href="#" id="disabled" title="view hidden content"><em>Hidden</em></a></li>
        </ul>

        <div class="tab-content" id="content">
            <div class="row " style="margin:3px;">
                <div class="btn-group  pull-left" >
                    <a class="btn btn-default btn-sm new_article" id="new_article" title="Add New" ><i class="fa fa-plus"></i>&nbsp;Add New</a>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-12" id="creator" >
                    <div class="row" >
                        <div class="col-md-10 col-md-offset-1">
                            <h3>Adding Content To Home </h3>
                        </div>
                    </div>
                    <form method="post" id="add_item_form" >
                        <textarea id="content_new" name="content_new"></textarea>
                        <input type="hidden" id="imposter" name="imposter" />
                        <select class="btn btn-default" id="add_picked_cat">
                            <option selected="selected" disabled="disabled" name="origin">Select Category</option>
                            #if($menus)
                                #set( $counterTab=0 )
                                #foreach( $menu in $menus )
                                    #set($counterTab = $counterTab+1)
                                    <option>$menu.get(1)</option>
                                #end
                            #end
                        </select>
                        <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-plus-square"></i>&nbsp;add item</button><button  type="button" id="cancel_creator" class="btn btn-danger btn-sm"><i class="fa fa-times"></i>&nbsp;cancel</button>&nbsp;<span id="output"></span>
                    </form>
                </div>
                <!-- Place this in the body of the page content -->
                <div class="col-md-12" id="editor" >
                    <h4>&nbsp;&nbsp; Editing Content To Home</h4>
                    <form method="post" id="edit_item_form">
                        <textarea id="content_edit" name="content_edit"></textarea>
                        <input type="hidden" id="imposter_edit" name="imposter_edit" />
                        <input type="hidden" id="imposter_id" name="imposter_id" />
                        <select class="btn btn-default" id="edit_picked_cat">
                            <option selected="selected" disabled="disabled" name="origin">Select Category</option>
                            #if($menus)
                                #set( $counterTab=0 )
                                #foreach( $menu in $menus )
                                    #set($counterTab = $counterTab+1)
                                    <option>$menu.get(1)</option>
                                #end
                            #end
                        </select>
                        <button type="submit" class="btn btn-default btn-sm">
                            <i class="fa fa-plus-square">
                            </i>&nbsp;edit item</button><button  type="button" id="cancel_editor" class="btn btn-danger btn-sm">
                        <i class="fa fa-times"></i>&nbsp;cancel</button>&nbsp;<span id="output_edit"></span>
                    </form>
                </div>
                <div id="display_divs">
                    <!--div template starts here-->
                    #if($htmlContents)
                        #set( $counterTab=0 )
                        #foreach( $content in $htmlContents )
                            #set($counterTab = $counterTab+1)
                            <div class="row all $content.get(2) $content.get(3)" id="tab$counterTab" uniqueness="$content.get(0)">
                                <div class="col-md-12 option-menu" >
                                    <div class="col-md-12 menu_conteiner menu_conteiner_vessel">
                                        <div class="btn-group  pull-right">
                                            <a class="btn btn-default btn-sm edit_content" id="edit_content,$content.get(0)"  title="Edit" style="color:orange;"><i class="fa fa-edit"></i></a>
                                            #if($content.get(3) =="disabled")
                                                <a class="btn btn-default btn-sm enable_content" id="enable_content,$content.get(0)" title="Unhide"><i class="fa fa-plus"></i></a>
                                            #else
                                                <a class="btn btn-default btn-sm disable_content" id="disable_content,$content.get(0)" title="Hide"><i class="fa fa-minus"></i></a>
                                                <a class="btn btn-default btn-sm top_content" id="top_content,$content.get(0)" title="make it top" style="color:green;"><i class="fa fa-arrow-up"></i></a>
                                            #end
                                            <a class="btn btn-default btn-sm remove_content" id="remove_content,$content.get(0)"  title="Delete" style="color:red;"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 conteiner" >
                                        $content.get(1)
                                    </div>
                                </div>
                            </div>
                        #end
                    #end
                    <!-- div template ends here-->
                </div>
            </div>

        </div>

    </div>
</div>
</div>
</div>
<div class="col-md-2" style="margin-top: 0px">
    <div class="row">
        <div class="col-md-12">
            <!-- Image Slide show-->

            <div id="slider_container_3">

                <div id="SliderName_3" class="SliderName_3">
                </div>
                <!--End Image Slide show-->
            </div>
        </div>
    </div>
    </br></br>

    <div class="row">
        #cmsStatistics()
    </div>
</div>
</div>
</div>
</div>
</div>

