
#sharingDialog()

<script type="text/javascript">
    var i18n_share_your_interpretation_of = '$encoder.jsEscape( $i18n.getString( "share_your_interpretation_of" ), "'")';
    var i18n_interpretation_was_shared = '$encoder.jsEscape( $i18n.getString( "interpretation_was_shared" ), "'")';
    var i18n_viewing = '$encoder.jsEscape( $i18n.getString( "viewing" ), "'")';
    var i18n_click_add_new_to_get_started = '$encoder.jsEscape( $i18n.getString( "click_add_new_to_get_started" ), "'")';
    var i18n_add_stuff_by_searching = '$encoder.jsEscape( $i18n.getString( "add_stuff_by_searching" ), "'")';
    var i18n_arrange_dashboard_by_dragging_and_dropping = '$encoder.jsEscape( $i18n.getString( "arrange_dashboard_by_dragging_and_dropping" ), "'")';
    var i18n_remove = '$encoder.jsEscape( $i18n.getString( "remove" ), "'")';
    var i18n_view_full_size = '$encoder.jsEscape( $i18n.getString( "view_full_size" ), "'")';
    var i18n_click_to_explore_drag_to_new_position = '$encoder.jsEscape( $i18n.getString( "click_to_explore_drag_to_new_position" ), "'")';
    var i18n_drag_to_new_position = '$encoder.jsEscape( $i18n.getString( "drag_to_new_position" ), "'")';
    var i18n_manage = '$encoder.jsEscape( $i18n.getString( "manage" ), "'")';
    var i18n_share = '$encoder.jsEscape( $i18n.getString( "share" ), "'")';
    var i18n_share_interpretation = '$encoder.jsEscape( $i18n.getString( "share_interpretation" ), "'")';
    var i18n_see_more_hits = '$encoder.jsEscape( $i18n.getString( "see_more_hits" ), "'")';
    var i18n_see_fewer_hits = '$encoder.jsEscape( $i18n.getString( "see_fewer_hits" ), "'")';
    var i18n_add = '$encoder.jsEscape( $i18n.getString( "add" ), "'")';
</script>

<div class="row">
    #parse( "ardsMacros.vm" )
    #leftMenu()
    <div class="col-md-10" id="mainPages">
      <div class="analysis-wraper">
           <div class="alert alert-danger fade in" role="alert" style="padding: 4px">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
                <strong>Empty Value!</strong> Please select at least one Administrative unit, period and data.
            </div>

            <div class="row">
                <div class="col-sm-3">
                    Administrative units <br>
                    <div class="btn-group btn-group-xs unitfilter">
                        <button type="button" class="btn btn-default" id="allunits">all</button>
                        <button type="button" class="btn btn-default" id="regions">Regions</button>
                        <button type="button" class="btn btn-default" id="district">disticts</button>
                    </div>
                    <br>
                    <select name="adminUnit" multiple="multiple" class="adminUnit">

                    </select>
                </div>
                <div class="col-sm-3">
                    Periods <br>
                    <div class="btn-group btn-group-xs periodfilter" >
                        <button type="button" class="btn btn-default" id="years">Yearly</button>
                        <button type="button" class="btn btn-default" id="quarters">quarterly</button>
                        <button type="button" class="btn btn-default" id="mounths">monthly</button>
                    </div>
                    <br>
                    <select name="periods" multiple="multiple" class="periods">

                    </select>
                </div>
                <div class="col-sm-3">
                    Data<br><br>
                    <select name="data" multiple="multiple" class="data-element">

                    </select>
                </div>
                <div class="col-sm-3">
                    Category<br><br>
                    <select name="category" class="category">
                        <option value="ou">administrative units</option>
                        <option value="pe">period</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-top: 15px">
                <div class="col-sm-12">
                    <div class="btn-group btn-group-xs reports">
                        <button class="btn btn-default" id="draw_table"><img src='../dhis-web-commons/analysis/table.png' style='height:20px;width:20px'> Table</button>
                        <button class="btn btn-default" id="draw_bar"><img src='../dhis-web-commons/analysis/bar.png' style='height:20px;width:20px'> Bar Chart</button>
                        <button class="btn btn-default" id="draw_column"><img src='../dhis-web-commons/analysis/column.png' style='height:20px;width:20px'> Column Chart</button>
                        <button class="btn btn-default" id="draw_line"><img src='../dhis-web-commons/analysis/line.png' style='height:20px;width:20px'> Line Chart</button>
                        <button class="btn btn-default" id="draw_pie"><img src='../dhis-web-commons/analysis/pie.png' style='height:20px;width:20px'> Pie Chart</button>
                        <button class="btn btn-default" id="draw_staked"><img src='../dhis-web-commons/analysis/stacked.png' style='height:20px;width:20px'> Stacked Chart</button>
                        <button class="btn btn-default" id="draw_spider"><img src='../dhis-web-commons/analysis/spider.jpg' style='height:20px;width:20px'> Spider Chart</button>
                        <button class="btn btn-default" id="draw_combined"><img src='../dhis-web-commons/analysis/combined.jpg' style='height:20px;width:20px'> Combined Chart</button>
                        <button class="btn btn-default" id="export_cvs"  style="margin-left: 5px"><img src='../dhis-web-commons/analysis/cvs.jpg' style='height:20px;width:20px'> Export to Excel</button>
                    </div>
                </div>
            </div>
            <div class="row" id="mainarea" style="margin-top: 15px">

            </div>
        </div>


        <div class="row" id="content_to_hide">
            <div class="col-md-10">
            <div id="contents" class="">
            <span id="showLeftBars" class="pull-left hidden-sm hidden-xs">
            <p>
           <div id="min"><a href="#" onclick="javascript:minSide()" title="hide menu"><img src="../images/hide_menu.png" width="16" height="16" /></a></div>
           <div id="max" style="display:none"><a href="#" onclick="javascript:maxSide()" title="show menu"><img src="../images/extend_menu.png" width="16" height="16" /></a></div>
                        </p>
                   </span>
                    <div id="default_home">
                        <div id="page_switcher">
                            <div class="onoffswitch pull-right" ><input type="checkbox" class="toggleBtn onoffswitch-checkbox" checked="" id="onoffswitch6"><label for="onoffswitch6" class="onoffswitch-label"><div class="onoffswitch-inner" style=""></div><div class="onoffswitch-switch" style=""></div></label></div>

                        </div>
                        <ul id="tabs">

                            <li><a href="#" id="all"><em>All</em></a></li>
                            #if($menus)
                                #set( $counterTab=0 )
                                #foreach( $menu in $menus )
                                    #set($counterTab = $counterTab+1)
                                    <li><a href="#" id="$menu.get(1)" title="only for $menu.get(1) "><em>$menu.get(1)</em></a></li>

                                #end
                            #end
                        </ul>

                        <div class="tab-content" id="content">
                            #set( $counterTab=0 )
                            #foreach( $content in $htmlContents )
                                #set($counterTab = $counterTab+1)
                                <div class="row  all $content.get(2) $content.get(3)" id="tab$counterTab">
                                    <div class="col-md-12 ">
                                        <div class="col-md-12 conteiner" >$content.get(1)</div>
                                    </div>
                                </div>
                            #end
                        </div>

                    </div>
                </div>



            </div>
        ##              </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12 pull-left">
                        <!-- Image Slide show-->

                        <div id="slider_container_3">

                            <div id="SliderName_3" class="SliderName_3">
                            </div>

                            <div class="">

                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    #chartStatistics()
                </div>
            </div>
        </div>
    </div>
</div>

