<form id="imageDocumentForm" action="addDocs.action" method="post" enctype="multipart/form-data" class="inputForm">
    <input type="hidden" id="id" name="id" value="">

    <div class="form-group">
        <!--label for="image_name">Picture Discription <em title="Required" class="required"></em></label-->
        <input type="hidden" id="document_name" style="width:100% !important;" name="name" value="" class="{validate:{required:true,minlength:2,maxlength:160}} form-control">
    </div>
    <div class="form-group">
        <label for="add-link">Image File <em title="Required" class="required">*</em></label>
        <input type="file" id="upload" name="upload"  class="{validate:{required:true}} form-control" required="required">
    </div>
    <div class="form-group">
        <input type="hidden" id="upload" name="external" value="false" >
    </div>

    <input id="image_upload" type="submit" value="Add Image" class="btn btn-success btn-sm" >

</form>

<script>
    $(document).ready(function(){
       var unique_imagename =  new Date().getUTCMilliseconds();
        $("#document_name").val("image_"+unique_imagename);
        $("#imageDocumentForm").submit(function(e){


            var docname = $("#imageDocumentForm input#document_name").val();
            $.ajax({
                type: "POST",
                url: 'addDatabaseDocs.action',
                data: "&docname="+docname,
                success: function(){
//                location.reload(true);
                }
            });

            $.ajax({
                type: "POST",
                url: 'addDocs.action',
                data: new FormData( this ),
                success: whenSucceed
            });
            e.preventDefault();

            function whenSucceed(){
                console.log(docname);

            }

        });





    });

</script>