#macro( headerMenuBar )
<div class="row" style="background-color:#457B49;">
    <div class="col-md-2" style="font-weight: bolder;">
        <div style="font-weight: bolder; color:#fff;" class="hidden-sm hidden-xs">
            <img src="../dhis-web-commons/css/portalImages/nembo.png" class="img-rounded pull-left" style="height: 65px;width:70px">
        </div>
    </div>
    <div class="col-md-8 text-center" >
        <span style="font-size:30px;text-align: center;color:#fff;font-weight:bolder;letter-spacing:1px">UNITED REPUBLIC OF TANZANIA</span>
        <br><span style="font-size:14px;text-align: center;color:#fff;font-weight:bolder;letter-spacing: 3px;">ARDS WEB PORTAL</span>
    </div>
    <div class="col-md-2 hidden-sm hidden-xs">
        <img src="../dhis-web-commons/css/portalImages/tz_flag.gif" class="img-rounded pull-right" style="height: 65px; width: 70px">
    </div>
</div>
<!-- navigation bar here-->
<div class="row">
    <nav class="navbar navbar-static-top navbar-inverse responsive" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="background-color:#457B49;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../dhis-web-dashboard-integration/home.action"><i class="fa fa-home"></i> ARDS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#457B49;">
            <ul class="nav navbar-nav" style="background-color:#457B49"><!--../dhis-web-dashboard-integration/home.action-->
            ##              <li style="border-right: solid 1px #888"><a href="../dhis-web-dashboard-integration/home.action" class="menuLink">$i18n.getString( "Home" )</a></li>
                <li style="border-right: solid 1px #888"><a id="menuLink5" href="../dhis-web-dashboard-integration/index.action" class="menuLink">$i18n.getString( "dashboard" )</a></li>
                <li style="border-right: solid 1px #888"><a href="../dhis-web-reporting/index.action" class="menuLink">$i18n.getString( "Report" )</a></li>
                <li style="border-right: solid 1px #888"><a href="../dhis-web-dashboard-integration/analysis.action" class="menuLink">$i18n.getString( "Analysis")</a></li>
                <li class="dropdown" style="border-right: solid 1px #888;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"class="menuLink">$i18n.getString( "Data" )<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li style="color:#ffffff!important;"><a  href="../dhis-web-pivot/index.action" class="menuLink">$i18n.getString( "Pivot table" )</a></li>
                        <li style="color:#ffffff!important;"><a  href="../dhis-web-visualizer/index.action" class="menuLink">$i18n.getString( "Data visualizer" )</a></li>
                        <li style="color:#ffffff!important;"><a  href="../dhis-web-mapping/index.action" class="menuLink">$i18n.getString( "Map" )</a></li>

                    </ul>
                </li>
                <li style="border-right: solid 1px #888"><a  href="../dhis-web-dashboard-integration/news.action" class="menuLink">$i18n.getString( "News" )</a></li>
                <li style="border-right: solid 1px #888"><a  href="../dhis-web-dashboard-integration/pages.action" class="menuLink">$i18n.getString( "Articles" )</a></li>
                <li class="dropdown" style="border-right: solid 1px #888;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"class="menuLink">$i18n.getString( "ARDS operational" )<b class="caret"></b></a>
                    <ul class="dropdown-menu document_menu">

                    </ul>
                </li>
                #if( $maintenanceModules.size() > 0 )
                    <li class="dropdown" style="border-right: solid 1px #888;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"class="menuLink">$i18n.getString( "maintenance" )<b class="caret"></b></a>
                        <ul class="dropdown-menu" >
                            #foreach( $module in $maintenanceModules )
                                #if($i18n.getString( $module.name )=="Organisation Units")
                                    <li style="color:#ffffff!important;"><a href="${module.defaultAction}">Administrative Units&nbsp;</a></li>
                                #else
                                    <li style="color:#ffffff!important;"><a href="${module.defaultAction}">$i18n.getString( $module.name )&nbsp;</a></li>
                                #end
                            #end
                            <li style="color:#ffffff!important;"><a href="../dhis-web-dashboard-integration/cms.action" id="cms_settings_button">CMS&nbsp;</a></li>
                        </ul>
                    </li>
                #end
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:20px;" >
                <li style="border-right: solid 1px #888;width:172px!important;" class="hidden-sm hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;$encoder.htmlEncode( $currentUser.name )<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li style="color:#ffffff!important;"><a href="../dhis-web-commons-about/showUpdateUserProfileForm.action"><i class="fa fa-pencil"></i>&nbsp;Update Info</a></li>
                        <li style="color:#ffffff!important;"><a href="#" class="menuLink"><i class="fa fa-question-circle " style="color:black;"></i>&nbsp;<!--i18n.getString( "help" )-->Help Center</a></li>
                        <li style="color:#ffffff!important;"><a href="../dhis-web-commons-about/showUpdateUserAccountForm.action"><i class="fa fa-lock"></i>&nbsp;Change Password</a></li>
                        <li class="divider"></li>
                        <li style="color:#ffffff!important;"><a href="../dhis-web-commons-security/logout.action"><i class="fa fa-power-off"></i>&nbsp;Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
<!-- navigation ends here-->
#end

#macro( leftMenu )
<div class="col-md-2 hidden-sm hidden-xs"  style="padding-right: 0px;padding-left: 0px">
    <div id="left-Menu">
        <div class="panel-group" id="accordion">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="parent_menu">
                            Data Analysis
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <div class="panel-group" id="accordion1"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="parent_menu">
                            Documents
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked list-group document_panel">

                        </ul>

                        </br>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="parent_menu">
                            Links
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked list-group">
                            #if($otherLinks)
                                #foreach( $links in $otherLinks)

                                    <li class="list-group-item">
                                        <p><a target="_blank" href="$links.get(2)" class="text-success">
                                            <i class="fa fa-globe"></i>&nbsp;&nbsp;$links.get(1)</a>

                                    </li>

                                #end
                            #end

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#end#macro( cmsLeftMenu )
<div class="col-md-2 hidden-sm hidden-xs"  style="padding-right: 0px;padding-left: 0px">
    <div id="left-Menu">
        <div class="panel-group" id="accordion">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="parent_menu">
                            Data Analysis
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <div class="panel-group" id="accordion1"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="parent_menu">
                            Documents
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo"  class="panel-collapse collapse in">
                    <div class="panel-body" id="contextMenu">

                        <ul id="contextMenuItems" class="nav nav-pills nav-stacked list-group cms_document">


                        </ul>

                        </br>

                        <form id="documentForm" action="addDocs.action" method="post" enctype="multipart/form-data" class="inputForm">
                            <input type="hidden" id="id" name="id" value="">

                            <div class="form-group">
                                <label for="document_name">Document Name <em title="Required" class="required">*</em></label>
                                <input type="text" id="document_name" style="width:100% !important;" name="name" value="" class="{validate:{required:true,minlength:2,maxlength:160}} form-control">
                            </div>
                            <div class="form-group">
                                <label for="add-link">File <em title="Required" class="required">*</em></label>
                                <input type="file" id="upload" name="upload"  class="{validate:{required:true}} form-control">
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="upload" name="external" value="false" >
                            </div>

                            <input type="submit" value="Add Document" class="btn btn-success btn-sm" >

                        </form>

                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="parent_menu">
                            Links
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked list-group">
                            #if($otherLinks)
                                #foreach( $links in $otherLinks)

                                    <li class="list-group-item">
                                        <p><a target="_blank" href="$links.get(2)" class="text-success">
                                            <i class="fa fa-globe"></i>&nbsp;&nbsp;$links.get(1)</a>

                                            <a  href="#" class="remove" id="remove,$links.get(0)">
                                                <i  style="color:red;" title="Delete link $links.get(1)" class="fa fa-times pull-right"></i>
                                            </a>
                                            <a  href="#" class="hides" id="hides,$links.get(0)">
                                                <i  style="color:orange" title="Hide link $links.get(1)" class="fa fa-times pull-right"></i>
                                            </a></p>
                                    </li>

                                #end
                            #end

                        </ul>
                        </br>

                        <form id="addImportantLink" role="form" method="post"  action="#">
                            <div class="form-group">
                                <label for="link-name">Link Name</label>
                                <input type="text" name="linkName" class="form-control" id="link-name" placeholder="Link Name">
                            </div>
                            <div class="form-group">
                                <label for="add-link">Url/Link</label>
                                <input type="text" name="linkUrl" class="form-control" id="add-link" placeholder="Url/Link eg. http://www.example.com">
                            </div>
                            <button class="btn btn-success btn-sm">Add Other link</button>
                        </form>
                        <p id="link"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#end
#macro( cmsStatistics )
<div id="status" style="border:0px!important;" class='col-md-10'>
    <h3>Statistics</h3>
    <span class="warning_favourites"></span>
    <form class="form-inline row" role="form" method="get" id="favourites">
        <table class="table-condensed">
            <tr>
                <td>
                    <select   multiple="multiple" name="favourites" placeholder="Select Three statistics"  width="200" class="favourite_charts">;

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-default">Send</button><div id="status_box" ></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="status_box" ></div>
                </td>
            </tr>
        </table>
    </form>

</div>
#end
#macro( chartStatistics )
<div id="statistics_charts" class="col-md-12" style="font-family: LiberationSansRegular, arial, sans-serif">
    <div  class="row">
        <div style="text-align: center"><h3> Favourites Charts </h3></div>
    </div>
    <div id="statistics_chart_1" class="row">
    </div></br>
    <div id="statistics_chart_2" class="row">
    </div></br>
    <div id="statistics_chart_3" class="row">
    </div>
</div>
#end