<!DOCTYPE html>
<!--[if IE 7]><html #if( $manifest ) manifest="$manifest" #end class="ie7"><![endif]-->
<!--[if IE 8]><html #if( $manifest ) manifest="$manifest" #end class="ie8"><![endif]-->
<!--[if IE 9]><html #if( $manifest ) manifest="$manifest" #end class="ie9"><![endif]-->
<!--[if !IE]><html #if( $manifest ) manifest="$manifest" #end><![endif]-->
<html lang="en">
    #parse( "header.vm" )
    #header()
<body><!--style="background-image: url(../dhis-web-commons/css/portalImages/body-bg.png); font-family: Maven Pro;"-->
    #parse( "macros.vm" )
<!--BOOTSTRAP HEADER-->
<style>
    .dropdown-menu > li > a{
    //color:#ffffff!important;
    }
</style>
<div class="container-fluid">
    #parse( "ardsMacros.vm" )
    #headerMenuBar()
    <div class="page-wraps">
        <div class="row">
            <div class="col-md-12">

                <!-- Message body area-->
                <div id="headerMessage" class="bold"></div>
                <!-- end of meassage body-->

                <!-- central bar-->
                <div class="page col-md-12"><!--mainPage--> <!-- Do not set style attr -->
                    #if( !$page )
                        <p>$i18n.getString( "no_page_specified" )</p>
                    #else
                        #parse( $page )
                    #end
                </div>
            </div>
        </div>
        <div class="row">
            #footerMenuBar()
        </div>
    </div>
    <script type="text/javascript">

        var m  = 0;
        var mx = 0;
        function minSide(){
            $('#min').hide('fast', function(){
                $('#max').show();
            });
            if(m == 0){
                $('#leftbarcontents').animate({
                    direction: 'left',
                    left: '-=250'
                }, 900, function() {
                    // Animation complete.
                    $('#mainPages').css({
                        marginLeft: -180,
                        width:1200
                    })
                });
            }

        }

        function maxSide(){

            $('#max').hide('fast', function(){
                $('#min').show();
            });
            $('#mainPages').css({
                marginLeft: -07,
                width:   1050
            })
            $('#leftbarcontents').animate({
                left: '+=250'
            }, 900, function() {
                // Animation complete.

            });
        }
    </script>
</body>
</html>
