<!DOCTYPE html>
<!--[if IE 7]><html #if( $manifest ) manifest="$manifest" #end class="ie7"><![endif]-->
<!--[if IE 8]><html #if( $manifest ) manifest="$manifest" #end class="ie8"><![endif]-->
<!--[if IE 9]><html #if( $manifest ) manifest="$manifest" #end class="ie9"><![endif]-->
<!--[if !IE]><html #if( $manifest ) manifest="$manifest" #end><![endif]-->
<html lang="en">
    #parse( "header.vm" )
    #header()
<body><!--style="background-image: url(../dhis-web-commons/css/portalImages/body-bg.png); font-family: Maven Pro;"-->
    #parse( "macros.vm" )
<!--BOOTSTRAP HEADER-->
<style>
    .dropdown-menu > li > a{
    //color:#ffffff!important;
    }
</style>
<div class="container-fluid">
    #parse( "ardsMacros.vm" )
    #headerMenuBar()
    <div class="page-wrap">
        <div class="row">
            <div class="col-md-12">
                <!--Left Bar-->
            ##         <div id="" class="col-md-3"><!--#leftBar-->
            ##            <div class="row">
            ##                <div class="col-md-12">
            ##                    #parse( $menu )
            ##                </div>
            ##            </div>
            ##        </div>
                <!--End of left Bar-->

                <!-- Message body area-->
                <div id="headerMessage" class="bold"></div>
                <!-- end of meassage body-->

                <!-- central bar-->
                <div class="page col-md-12" id=""><!--mainPage--> <!-- Do not set style attr -->
                    #if( !$page )
                        <p>$i18n.getString( "no_page_specified" )</p>
                    #else
                        #parse( $page )
                    #end
                </div>
                <!-- end central bar-->
                <script type="text/javascript">
                        #if( $!menuState == "HIDDEN" )
                        dhis2.leftBar.hide();
                        #elseif ( $!menuState == "EXTENDED" )
                        dhis2.leftBar.extend();
                        #end
                </script>

                <!-- start right menu-->
                <div id="rightBar" class="col-md-3">
		  <span id="hideRightBar"><a href="javascript:hideHelpContent()" title="$i18n.getString( 'close' )">
              <img id="hideRightBarImg" src="../images/hide.png" alt="$i18n.getString( 'close' )"/></a>
		  </span>
                    <div id="rightBarContents"></div>
                </div>
            </div>
            <!--end right menu-->
        </div>
    </div>
    <div class="row">
        <footer class="site-footer" style="background-color:#457B49;">
            <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" style="background-color:#457B49;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" style="background-color:#457B49;">
                    <ul class="nav navbar-nav" style="background-color:#457B49">
                        <li class="dropup" style="border-right: solid 1px #888; color:#ffffff!important">
                            <a class="btn dropdown-toggle overwrite" data-toggle="dropdown" style="height:40px!important;margin-top:-10px;">
                                Related Links
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                #if($otherLinks)
                                    #foreach( $links in $otherLinks)
                                        <li class="dropdown-submenu" style="color:#ffffff!important;"><a href="$links.get(2)" target="_blank" class="text-success"><i class="fa fa-globe"></i>$links.get(1)</a></li>
                                    #end
                                #end
                            </ul>
                        </li>

                        <li class="dropup " style="border-right: solid 1px #888">
                            <a class="btn dropdown-toggle overwrite" data-toggle="dropdown" style="height:30px!important;margin-top:-10px;background-color:;">
                                Downloads
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu document_menu" style="color:#fff;">

                            </ul>

                        </li>

                        <li style="border-right: solid 1px #888;" class="hidden-lg hidden-md">
                            <a href="#" style="color:#ffffff!important;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;$encoder.htmlEncode( $currentUser.name )<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a style="color:#ffffff!important;" href="../dhis-web-commons-about/showUpdateUserProfileForm.action"><i class="fa fa-pencil"></i>&nbsp;Update Info</a></li>
                                <li><a style="color:#ffffff!important;" href="../dhis-web-commons-about/help.action"><i class="fa fa-question-circle " style="color:black;"></i>&nbsp;<!--i18n.getString( "help" )-->Help Center</a></li>
                                <li><a href="../dhis-web-commons-about/about.action" class="menuLink"><i class="fa fa-info-circle" style="color:black;"></i>&nbsp;About ARDS</a></li>
                                <li><a style="color:#ffffff!important;" href="../dhis-web-commons-about/showUpdateUserAccountForm.action"><i class="fa fa-lock"></i>&nbsp;Change Password</a></li>
                                <li class="divider"></li>
                                <li><a style="color:#ffffff!important;" href="../dhis-web-commons-security/logout.action"><i class="fa fa-power-off"></i>&nbsp;Logout</a></li>
                            </ul>
                        </li>


                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </footer>
    </div>
</div>
<script type="text/javascript">

    var m  = 0;
    var mx = 0;
    function minSide(){
        $('#min').hide('fast', function(){
            $('#max').show();
        });
        if(m == 0){
            $('#leftbarcontents').animate({
                direction: 'left',
                left: '-=250'
            }, 900, function() {
                // Animation complete.
                $('#mainPages').css({
                    marginLeft: -180,
                    width:1200
                })
            });
        }

    }

    function maxSide(){

        $('#max').hide('fast', function(){
            $('#min').show();
        });
        $('#mainPages').css({
            marginLeft: -07,
            width:   1050
        })
        $('#leftbarcontents').animate({
            left: '+=250'
        }, 900, function() {
            // Animation complete.

        });
    }
</script>
</body>
</html>
